<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="BugScreen.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <title>Spot tag</title>
    </head>

    <body>
        <div class="grid-container">

            <header class="row">

                <div>
                    <a class="brand" href="index.html">Spot Tag</a>
                </div>

                <div>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>

            <main>
                <div>

                    <h1>All Bugs</h1>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Language</th>
                                <th>reason</th>
                                <th>Testing Tool</th>
                                <th>Solution</th>
                                <th>Ref Link</th>
                                <th>Added By</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>{bug.name}</td>
                                <td>{bug.category}</td>
                                <td>{bug.language}</td>
                                <td>{bug.reason}</td>
                                <td>{bug.testingTool}</td>
                                <td>{bug.solution}</td>
                                <td>{bug.refLink}</td>
                                <td>{bug.addedBy}</td>
                            </tr>
                            <tr>
                                <td>{bug.name}</td>
                                <td>{bug.category}</td>
                                <td>{bug.language}</td>
                                <td>{bug.reason}</td>
                                <td>{bug.testingTool}</td>
                                <td>{bug.solution}</td>
                                <td>{bug.refLink}</td>
                                <td>{bug.addedBy}</td>
                            </tr>
                        </tbody> 
                    </table>
                </div>
            </main>

            <footer class="row center">
                All right reserved
            </footer>
        </div>
    </body>
</html>