<!DOCTYPE html>
<html>
    <head>

        <title>Spot tag</title>

        <link rel="stylesheet" href="BugScreen.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>

    <body>

        <div id="mySidenav" class="sidenav">

            <p class="logo">Spot-<span>Tag</span></p>

            <a href="#" class="icon-a">
                <i class="fa fa-tasks icons"></i>
                &nbsp;&nbsp;Languages
            </a>

            <a href="#" class="icon-a">
                <i class="fa fa-bug"></i>
                &nbsp;&nbsp;Bugs
            </a>
        </div>

        <div id="main">

            <div class="head">

                <div class="col-div-6">
                    <span style="color: white; font-size: 30px; cursor: pointer;" class="nav">Bugs</span>
                </div>

                <div class="col-div-6">
                    <div class="profile">
                        <img src="./images/user.png" class="pro-img" />
                        <p>User Name <span>Designation</span></p>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
            <br /><br />

            <div class="col-div-12">

                <div class="box-12">
                    <div class="content-box">

                        <p>Bugs and Solutions</p>

                        <br/>

                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Language</th>
                                <th>Reason</th>
                                <th>Testing Tool</th>
                                <th>Solution</th>
                                <th>Ref Link</th>
                                <th>Added By</th>
                            </tr>

                            <tr>
                                <td>{bug.name}</td>
                                <td>{bug.category}</td>
                                <td>{bug.language}</td>
                                <td>{bug.reason}</td>
                                <td>{bug.testingTool}</td>
                                <td>{bug.solution}</td>
                                <td>{bug.refLink}</td>
                                <td>{bug.addedBy}</td>
                            </tr>

                            <tr>
                                <td>{bug.name}</td>
                                <td>{bug.category}</td>
                                <td>{bug.language}</td>
                                <td>{bug.reason}</td>
                                <td>{bug.testingTool}</td>
                                <td>{bug.solution}</td>
                                <td>{bug.refLink}</td>
                                <td>{bug.addedBy}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>