
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* CSS Reset */
div, h1, h2, h3, h4, h5, h6, p, li, ul, ol, input, th, td { 
  margin:0;
}

/* Common */
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none !important;
  cursor: pointer
}

input, button {
  font-family: 'Montserrat', sans-serif;
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}

input:focus {
  outline: 0;
}

/* Navbar starts */

.st--navbar {
  background-color: #192444;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding:  25px;
}

.st__navbar--title a {
  color: #FFFFFF;

  font-size: 30px;
  font-weight: 800;
  line-height: 25px;
}

.st__navbar--options {
  display: flex;
  align-items: center;
}

.st__navbar--options a {
  color: #FFFFFF;

  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.ant-menu-title-content {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.ant-menu-submenu .ant-menu-submenu-horizontal {
  margin-right: 10px !important;
  background: transparent;
  color: #FFFFFF;
}

.ant-menu-horizontal {
  line-height: 0 !important;
  border: 0;
  border-bottom: 0 !important;
}

/* Navbar ends */
/* Home Screen starts */

section.homeBlock {
  padding: 48px 32px;
}

.homeBlock--header {
  margin-bottom: 12px;
}

.homeBlock--header h2 {
  color: #111112;

  font-size: 30px;
  font-weight: 800;
  letter-spacing: -0.19px;
}

.homeBlock--buttonSection {
  text-align: right;
  margin-bottom: 30px;
}

.homeBlock--buttonSection button {
  border: 0;
  background-color: #192444;
  color: #FFFFFF;

  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.homeBlock--languages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card--body {
  text-align: center;
}

.card--body h3 {
  color: #111112;

  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.19px;
}

.card--body h4 {
  color: #111112;

  font-size: 19px;
  font-weight: 500;
  letter-spacing: -0.19px;
}

/* Home Screen ends */
/* Login Screen starts */

.body-login {
  background-color: #0000ff;
  overflow: hidden;
}

section.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 48px 0;
}

.centered--loginBox {
  background-color: #ffffff;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.login__content--wrap {
  padding: 48px 24px;
}

.login__content--heading {
  margin-bottom: 30px;
}

.login__content--heading h2 {
  font-size: 30px;
  font-weight: 800;
}

.login__content--heading h2 span{
color: #f7403b;
}

.login__form--inputWrap input {
  width: 90%;

  background: #f1f1f1;
  color: rgba(24, 39, 58, 0.94);

  border: none;
  outline: none;

  padding: 8px 15px;
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.login__form--inputWrap input::placeholder {
  color: rgba(28, 48, 74, 0.5);

  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
}

.login__form--cbInputWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 30px;
}

.checkboxWrap {
  display: flex;
  align-items: center;
}

.checkboxWrap input {
  cursor: pointer;

  width: 18px;
  height: 18px;

  margin-right: 8px;
}

.checkboxWrap span {
  color: #403F3F;

  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.fpWrap button {
  border: 0;
  cursor: pointer;

  background-color: transparent;
  color: #403F3F;

  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.login__form--buttonSection {
  text-align: center;
  margin-bottom: 30px;
}

.login__form--buttonSection button {
  width: 100%;
  border: 0;
  border-radius: 7px;

  background-color: #0000ff;
  color: #FFFFFF;

  padding: 10px 0;

  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 25px;
}

.login__form--newUser {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__form--newUser h5 {
  color: #140F26;;
  font-size: 17px;
  font-weight: 800;
}

.login__form--newUser button {
  background-color: transparent;
  color: #0000ff;

  border: none;
  cursor: pointer;

  font-size: 17px;
  font-weight: 800;
}

/* Login Screen ends */
/* Signup Screen starts */

.body--signup {
  background-color: #0000ff;
  overflow: hidden;
}

section.signupPage {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 48px 0;
}

.centered--signupBox {
  background-color: #ffffff;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.signup__content--wrap {
  padding: 48px 24px;
}

.signup__content--header {
  margin-bottom: 30px;
}

.signup__content--header h2 {
  font-size: 30px;
  font-weight: 800;

  text-align: center;
}

.signup__content--header h2 span{
color: #f7403b;
}

.signup__form--inputSection {
  margin-bottom: 20px;
}

.signup__form--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signupForm--inputWrap label {
  color: rgba(27, 43, 65, 0.72);

  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
}

.signupForm--inputWrap input {
  background: #f1f1f1;
  color: rgba(24, 39, 58, 0.94);

  border: none;
  outline: none;

  padding: 8px 15px;
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  margin-right: 8px;
}

.signupForm--inputWrap input::placeholder {
  color: rgba(28, 48, 74, 0.5);

  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
}

.signup__form--cbInputWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 15px;
}

.signup__form--cbInputWrap input {
  cursor: pointer;

  width: 15px;
  height: 15px;

  margin-right: 12px;
}

.signup__form--cbInputWrap span {
  color: #403F3F;

  font-size: 17px;
  font-weight: 500;
  line-height: 19px;
}

.signup__form--buttonSection {
  text-align: center;
  margin-bottom: 30px;
}

.signup__form--buttonSection button {
  width: 100%;
  border: 0;
  border-radius: 7px;

  background-color: #0000ff;
  color: #FFFFFF;

  padding: 10px 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 25px;

  text-transform: uppercase;
  cursor: pointer;
}

.signup__form--buttonSection button:disabled {
  background-color: gray;
  cursor: auto;
}

.signup__form--newUser {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup__form--newUser h5 {
  color: #140F26;;
  font-size: 14px;
  font-weight: 800;
}

.signup__form--newUser button {
  background-color: transparent;
  color: #0000ff;

  border: none;
  cursor: pointer;

  font-size: 14px;
  font-weight: 800;
}

/* Signup Screen ends */
/* Bugs Screen starts */

section.bugs--content {
  padding: 48px 32px;
}

.bugs__content--header {
  margin-bottom: 12px;
}

.bugs__content--header h2 {
  color: #111112;

  font-size: 30px;
  font-weight: 800;
  letter-spacing: -0.19px;
}

.bug__contents--buttonSection {
  text-align: right;
  margin-bottom: 30px;
}

.bug__contents--buttonSection button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  background-color: #192444;
  color: #FFFFFF;

  padding: 8px 16px;

  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.bugsTable {
  text-align: center;
  border-collapse: collapse;
  width: 100%;

  border:  2px solid #81818140;
}

.bugsTable caption {
  color: #111112;

  font-size: 19px;
  font-weight: 600;
  letter-spacing: -0.19px;

  margin-bottom: 15px;
}

.bugsTable thead {
  background-color: #FAFAFA;
}

.bugsTable th, .bugsTable td {
  padding: 15px;
  border: 0.3px solid #81818140;
}

/* Bugs Screen ends */
/* Language Screen starts */

section.language--contents {
  padding: 48px 32px;
}

.language__contents--details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 30px;
}

.language__details--logo,
.language__details--languageInfo {
  padding: 20px;
}

.language__details--languageInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.language__info--nameSection {
  margin-bottom: 30px;
}

.language__info--nameSection h2 {
  color: #111112;

  font-size: 30px;
  font-weight: 800;
  letter-spacing: -0.19px;
}

.language__info--nameSection h5 {
  color: #000000;

  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.14px;
}

.language__info--additional {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language__additional--cols {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.language__additional--cols:nth-child(1) {
  margin-right: 40px;
}

.language_parameters {
  background-color: #FFFFFF;
  box-shadow: 0px 3px 29px #00000029;

  padding: 20px;
}

.language_parameters:nth-child(odd) {
  margin-bottom: 40px;
}

.language_parameters h3 {
  color: #111112;

  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.19px;

  margin-bottom: 8px;
}

.language_parameters h4 {
  color: #000000;

  text-align: right;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.14px;
}

/* Language Screen ends */
/* Bug Details Screen starts */

.bugDetails {
  padding: 48px 32px;
}

.bug__details--header {
  margin-bottom: 12px;
}

.bug__details--header h2 {
  color: #111112;

  font-size: 30px;
  font-weight: 800;
  letter-spacing: -0.19px;
}

.bug__details--buttonSection {
  text-align: right;
  margin-bottom: 30px;
}

.bug__details--buttonSection button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  background-color: #192444;
  color: #FFFFFF;

  padding: 8px 16px;

  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.bug__details--modalSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bugModal {
  background-color: #FFFFFF;
  box-shadow: 0px 3px 29px #00000029;
  border-radius: 20px;

  padding: 40px;
}

.bugModal--header {
  margin-bottom: 30px;
}

.bugModal--header h2 {
  font-size: 30px;
  font-weight: 800;
  line-height: 25px;
}

.bugModal--header h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.bugDetails--table td, .bugDetails--table th {
  padding: 15px 0;
  border-bottom: 1px solid #81818140;
}

/* Bug Details Screen ends */
