
/* CSS reset */
div, h1, h2, h3, h4, h5, h6, p, li, ul, ol, input, th, td { 
    margin:0;
}

/* Common */

html, body {
    width: 100%;
    height: 100%;
    margin:0px;
    padding: 0px;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

a {
    text-decoration: none !important;
    cursor: pointer
} 

input, button {
    font-family: 'Montserrat', sans-serif;
}

button:focus:not(:focus-visible) {
    box-shadow: none;
}

input:focus {
    outline: 0;
}

.row--spacedContents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column--spacedContents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block--margin--bottom {
    margin-bottom: 30px;
}

.block--padding--even {
    padding: 20px;
}

/* Navbar */

.st--navbar {
    background-color: #192444;
    color: #FFFFFF;

    padding:  25px;
}

.st__navbar--title h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 25px;
}

.st__navbar--options {
    display: flex;
    align-items: center;
}

.st__navbar--options h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

/* Navbar ends */
/* Screens */

section.block {
    padding: 48px 32px;
}

.block--head {
    margin-bottom: 12px;
}

.block--head h2 {
    color: #111112;

    font-size: 30px;
    font-weight: 800;
    letter-spacing: -0.19px;
}

.block--head h5 {
    color: #000000;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.14px;
}

.block--languageParams {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 29px #00000029;

    padding: 20px;
}

.block--languageParams:nth-child(odd) {
    margin-bottom: 40px;
}

.block--languageParams h3 {
    color: #111112;

    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.19px;

    margin-bottom: 8px;
}

.block--languageParams h4 {
    color: #000000;

    text-align: right;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.14px;
}

.block__elem--viewButton {
    text-align: right;
    margin-bottom: 30px;
}

.block__elem--viewButton button {
    border: 0;
    border-radius: 4px;

    background-color: #192444;
    color: #FFFFFF;

    padding: 8px 16px;

    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.block__elem--languages {
    flex-wrap: wrap;
}

.block__elem--columnMod:nth-child(1) {
    margin-right: 40px;
}

.card {
    border: 1px solid black;

    padding: 20px;
    margin-bottom: 30px;
}

.card--image {
    margin-bottom: 15px;
}

.card--body {
    text-align: center;
}

.card--body h3 {
    color: #111112;

    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.19px;
}

.card--body h4 {
    color: #111112;

    font-size: 19px;
    font-weight: 500;
    letter-spacing: -0.19px;
}

.bugsTable,
.bugModal--table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

.bugsTable caption,
.bugModal--table caption {
    color: #111112;

    font-size: 19px;
    font-weight: 600;
    letter-spacing: -0.19px;

    margin-bottom: 15px;
}

.bugsTable td, .bugsTable th,
.bugModal--table td, .bugModal--table th {
    padding: 15px;
    border-bottom: 1px solid #81818140;
}

.block__elem--modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bugModal {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 29px #00000029;
    border-radius: 20px;

    padding: 40px;
}

.bugModal--header h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 25px;
}

.bugModal--header h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
