
/* CSS reset */
div, h1, h2, h3, h4, h5, h6, p, li, ul, ol, input, th, td { 
    margin:0;
}

/* Common */

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #0000ff;
    overflow: hidden;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

a {
    text-decoration: none !important;
    cursor: pointer
}

input, button {
    font-family: 'Montserrat', sans-serif;
}

button:focus:not(:focus-visible) {
    box-shadow: none;
}

input:focus {
    outline: 0;
}

.row--spacedContents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row--centeredContents {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Screens */

section.block {
    margin-top: 48px;
}

.block__elem {
    background-color: #ffffff;
    border-radius: 25px;
}

section.block__elem--mod {
    padding: 48px 24px;
}

.block__elem--head {
    margin-bottom: 30px;
}

.block__elem--head h2 {
    font-size: 30px;
    font-weight: 800;

    text-align: center;
}

.block__elem--head h2 span {
    color: #f7403b;
}

.form {
    margin-bottom: 20px;
}

.input--maxWidth {
    width: 90%;
}

.input--right {
    margin-right: 8px;
}

.form__input--mod label {
    color: rgba(27, 43, 65, 0.72);

    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
}

.form__input--mod input {
    background: #f1f1f1;
    color: rgba(24, 39, 58, 0.94);
    border: none;
    outline: none;

    padding: 8px 15px;

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.form__input--mod input::placeholder {
    color: rgba(28, 48, 74, 0.5);

    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
}

.form__checkbox--mod {
    display: flex;
    align-items: center;
}

.form__checkbox--mod input {
    cursor: pointer;

    width: 15px;
    height: 15px;

    margin-right: 8px;
}

.form__checkbox--mod span {
    color: #403F3F;

    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}

.form__forgetpassword--mod a {
    color: #403F3F;

    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}

.form__button--mod {
    text-align: center;
    margin-bottom: 30px;
}

.form__button--mod button {
    width: 100%;
    border: 0;
    border-radius: 7px;

    background-color: #0000ff;
    color: #FFFFFF;

    padding: 10px 0;

    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 25px;
}

.block__elem--newUser h5 {
    color: #140F26;;
    font-size: 14px;
    font-weight: 800;
}

.block__elem--newUser button {
    background-color: transparent;
    color: #0000ff;

    border: none;
    cursor: pointer;

    font-size: 14px;
    font-weight: 800;
}
