<!DOCTYPE html>
<html>
    <head>

        <title>Spot tag</title>
        <link rel="stylesheet" href="HomeScreen.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>

        <div id="mySidenav" class="sidenav">

            <p class="logo">Spot-<span>Tag</span></p>

            <a href="#" class="icon-a">
                <i class="fa fa-tasks icons"></i>
                &nbsp;&nbsp;Languages
            </a>

            <a href="#" class="icon-a">
                <i class="fa fa-bug"></i>
                &nbsp;&nbsp;Bugs
            </a>
        </div>

        <div id="main">

            <div class="head">

                <div class="col-div-6">
                    <span style="color: white; font-size: 30px; cursor: pointer;" class="nav">Dashboard</span>
                </div>

                <div class="col-div-6">
                    <div class="profile">
                        <img src="./images/user.png" class="pro-img" />
                        <p>User Name <span>Designation</span></p>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
            <br />

            <div class="col-div-4">
                
                <a href="#">

                    <div class="box">

                        <div class="circle-wrap">

                            <div class="inside-circle">
                                <img src="./images/JS_main.png" alt="logo" class="img-logo" />
                            </div>
                        </div>

                        <p>
                            67
                            <br/><br />
                            <span>JavaScript</span>
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-div-4">

                <a href="#">
                    <div class="box">

                        <div class="circle-wrap">

                            <div class="inside-circle">
                                <img src="./images/Py_main.png" alt="logo" class="img-logo" />
                            </div>        
                        </div>

                        <p>
                            67
                            <br/><br />
                            <span>Python</span>
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-div-4">

                <a href="#">
                    <div class="box">

                        <div class="circle-wrap">

                            <div class="inside-circle">
                                <img src="./images/TS_main.png" alt="logo" class="img-logo" />
                            </div>        
                        </div>

                        <p>
                            67
                            <br/><br />
                            <span>TypeScript</span>
                        </p>
                    </div>
                </a>
            </div>

            <div class="clearfix"></div>
            <br/><br/>

            <div class="col-div-4">

                <a href="#">
                    <div class="box">

                        <div class="circle-wrap">

                            <div class="inside-circle">
                                <img src="./images/Dart_main.png" alt="logo" class="img-logo" />
                            </div>
                        </div>

                        <p>
                            67
                            <br/><br />
                            <span>Dart</span>
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-div-4">

                <a href="#">
                    <div class="box">

                        <div class="circle-wrap">

                            <div class="inside-circle">
                                <img src="./images/HTML_main.png" alt="logo" class="img-logo" />
                            </div>
                        </div>

                        <p>
                            67
                            <br/><br />
                            <span>HTML</span>
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-div-4">

                <a href="#">
                    <div class="box">

                        <div class="circle-wrap">

                            <div class="inside-circle">
                                <img src="./images/CSS_main.png" alt="logo" class="img-logo" />
                            </div>
                        </div>

                        <p>
                            67
                            <br/><br />
                            <span>CSS</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>
