<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="HomeScreen.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <title>Spot tag</title>
    </head>

    <body>
        <div class="grid-container">
            <header class="row">

                <div>
                    <a class="brand" href="index.html">Spot Tag</a>
                </div>

                <div>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>

            <main>

                <div>
                    <div class="row center">

                        <div class="card">

                            <a href="language.html">
                                <!-- image size: 680px by 830px -->
                                <img class="medium" src="./images/l1.png" alt="language" />
                            </a>

                            <div class="card-body">
                                <a href="language.html">
                                    <h2>JavaScript</h2>
                                </a>
                            </div>
                        </div>

                        <div class="card">

                            <a href="language.html">
                                <!-- image size: 680px by 830px -->
                                <img class="medium" src="./images/l2.png" alt="language" />
                            </a>

                            <div class="card-body">
                                <a href="language.html">
                                    <h2>Python</h2>
                                </a>
                            </div>
                        </div>

                        <div class="card">

                            <a href="language.html">
                                <!-- image size: 680px by 830px -->
                                <img class="medium" src="./images/l3.png" alt="language" />
                            </a>

                            <div class="card-body">
                                <a href="language.html">
                                    <h2>TypeScript</h2>
                                </a>
                            </div>
                        </div>

                        <div class="card">

                            <a href="language.html">
                                <!-- image size: 680px by 830px -->
                                <img class="medium" src="./images/l4.png" alt="language" />
                            </a>

                            <div class="card-body">
                                <a href="language.html">
                                    <h2>Dart</h2>
                                </a>
                            </div>
                        </div>

                        <div class="card">

                            <a href="language.html">
                                <!-- image size: 680px by 830px -->
                                <img class="medium" src="./images/l5.png" alt="language" />
                            </a>

                            <div class="card-body">
                                <a href="language.html">
                                    <h2>HTML</h2>
                                </a>
                            </div>
                        </div>

                        <div class="card">

                            <a href="language.html">
                                <!-- image size: 680px by 830px -->
                                <img class="medium" src="./images/l6.png" alt="language" />
                            </a>

                            <div class="card-body">
                                <a href="language.html">
                                    <h2>CSS</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="row center">All right reserved</footer>
        </div>
    </body>
</html>