
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #0000ff;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, html, p {
    margin:0
}

a {
    text-decoration: none !important;
    cursor: pointer
} 

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

button:focus:not(:focus-visible) {
    box-shadow: none;
}

/* Page starts */

.clearfix{
	clear: both;
}

.login__box {
    background-color: #ffffff;
    border-radius: 25px;

    width: 90%;
    height: 700px;

    display: flex;
}

.col-div-6 {
    width: 50%;
}

section.login__content--wrap {
    padding: 20px;
}

.login__content--heading {
    margin-top: 30px;

    display: flex;
    justify-content: center;
    text-align: center;
}

.login__content--heading p {
    font-size: 30px;
    font-weight: 800;
}

.login__content--heading p span{
	color: #f7403b;
}

.login__form {
    margin-left: -40px;
    margin-top: 30px;
}

.login__input--Wrap {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}

.login__form input[type=text], input[type=password] {
    background: #f1f1f1;

    border: none;
    outline: none;

    width: 100%;
    padding: 15px;
}

.login__form input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.login__input--Checkbox {
    margin-top: 30px;
}

.login__input--Checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.login__input--Checkbox label {
    color: #140F26;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;

    position: relative;
    cursor: pointer;
}

.login__input--Checkbox label:before {
    content:'';
    -webkit-appearance: none;
    background-color: #D0D2D1;
    border: 2px solid #D0D2D1;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 12px;
    border-radius: 50%;
    margin-top: -2px;
}

.login__input--Checkbox input:checked + label:before {
    background-color: #0000ff;
    border: 2px solid #0000ff;
}

.login__input--Checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
    width: 2px;
    height: 6px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.login__input--buttons {
    margin-top: 30px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.login__input--buttons button {
    border: none;
    cursor: pointer;

    padding: 14px 20px;
    width: 100%;
    opacity: 0.7;
}

.login__btn {
    background-color: #0000ff;
    color: white;
}

.fp__btn {
    background-color: transparent;
    color: #0000ff;
}

.login__btn:hover,
.fp__btn:hover {
    opacity:1;
}

.login__input--newUser {
   margin-top: 48px;

   display: flex;
   align-items: baseline;
   justify-content: center;
}

.login__input--newUser h5 {
    color: #140F26;;
    font-size: 17px;
    font-weight: 800;
}

.login__input--newUser button {
    background-color: transparent;
    color: #0000ff;

    border: none;
    cursor: pointer;

    font-size: 17px;
    font-weight: 800;
}
