
body {
    margin:0px;
	padding: 0px;
	background-color: #0000ff;
	overflow: hidden;
	font-family: 'Times New Roman', Times, serif;
}

.clearfix{
	clear: both;
}

.box {
    width: 90%;
    height: 700px;
    background-color: white;
    margin: 0% auto;
    margin-top: 3.5%;
    border-radius: 25px;
}

.col-div-6 {
    width: 50%;
    float: left;
}

.headText {
    padding-top: 60px;
    padding-left: 20%;
}

.logo {
    margin: 0px;
    margin-left: 28px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.logo span{
	color: #f7403b;
}

.formField {
    padding-top: 20px;
}

input[type=text], input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.btn-section {
    width: 100%;
}

button {
    background-color: #0000ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.signupbtn {
    float: left;
    width: 50%;
}

.btn-section a {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}

.noaccount {
    padding: 20px;
    padding-left: 24%;
    font-weight: bold;
}

.noaccount a {
    text-decoration: none;
}
