<!DOCTYPE html>
<html>
    <head>
        <title>Spot Tag</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="Pragma" content="no-cache" />

        <link rel="stylesheet" href="LoginScreen.css" />
    </head>

    <body>
        <div class="login__box">

            <div class="col-div-6">
                <img
                    src="./images/Login_image.png"
                    alt="Login"
                    title="Login"
                />
            </div>

            <div class="col-div-6">
                <section class="login__content--wrap">

                    <div class="login__content--heading">
                        <p>
                            Welcome to Spot -
                            <span>Tag..</span>
                        </p>
                    </div>

                    <div class="login__form">
                        <form action="/action_page.php">

                            <div class="login__input--Wrap">
                                <input type="text" placeholder="Enter Email" name="email" required>
                            </div>

                            <div class="login__input--Wrap">
                                <input type="password" placeholder="Enter Password" name="psw" required>
                            </div>

                            <div class="login__input--Checkbox">
                                <input type="checkbox" id="remenber_user" name="remember" checked />
                                <label for="remenber_user">Remember me</label>
                            </div>

                            <div class="login__input--buttons">
                                <button type="submit" class="login__btn">Login</button>
                                <button class="fp__btn">Forgot Password?</button>
                            </div>
                        </form>

                        <div class="login__input--newUser">
                            <h5>New to Spot-Tag?</h5>
                            <button>Create an account</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
