body {
    background-color: #0000ff;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
}

.clearfix {
    clear: both;
}

.box {
    width: 90%;
    height: 700px;
    background-color: white;

    margin: 0px auto;
    margin-top: 3.5%;
    border-radius: 25px;
}

.col-div-6 {
    width: 50%;
    float: left;
}

.headText {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10%;
    font-weight: bold;
}

.headText span {
    color: #f7403b;
}

.col-div-3 {
    width: 50%;
    float: left;
}

.formLabel {
    font-size: 10px;
    font-weight: lighter;
    color: gray;
}

input[type=text], input[type=password], [type=number] {
    width: 80%;
    background: #f1f1f1;
    border: none;
    display: inline-block;
    padding: 15px;
    margin: 5px 0 22px 0;
}

input[type=text]:focus, input[type=password]:focus, [type=number]:focus {
    background-color: #ddd;
    outline: none;
}

.signupbtn {
    width: 60%;
    color: white;
    background-color: #0000ff;
    border: none;
    padding: 15px;
    margin: 0 0 0 20%;
}

.accounted {   
    padding: 10px;
    font-weight: bold;
}

.accounted a {
    text-decoration: none;
}
