<!DOCTYPE html>
<html>

<head>
    <title>Spot Tag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <link rel="stylesheet" href="./assets/style.css" />
</head>

<body>

    <nav class="st--navbar">

        <div class="st__navbar--title">
            <h2>Spot-Tag</h2>
        </div>

        <div class="st__navbar--options">
            <h4 style="margin-right: 20px;">User Options</h4>
            <h4>Log in/Register</h4>
        </div>
    </nav>

    <section class="bugDetails">

        <div class="bug__details--header">
            <h2>Bug Details</h2>
        </div>

        <div class="bug__details--buttonSection">
            <button>View All Bugs</button>
        </div>

        <div class="bug__details--modalSection">

            <div class="bugModal">

                <div class="bugModal--header">
                    <h2>Bug Name</h2>
                    <h5>Bug Language</h5>
                </div>

                <div class="bugsTable">
                    <table>
                        <tr>
                            <td>
                                <h4>Category :</h4>
                            </td>
                            <td>
                                <p>Bug Category</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h4>Reason:</h4>
                            </td>
                            <td>
                                <p>Bug Reason</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h4>Testing Tool:</h4>
                            </td>
                            <td>
                                <p>Bug Testing Tool</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h4>Solution:</h4>
                            </td>
                            <td>
                                <p>Bug Solution</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h4>Referral Link:</h4>
                            </td>
                            <td><a href="">Bug Referral Link</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>

</html>