<!DOCTYPE html>
<html>

<head>
    <title>Spot Tag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <link rel="stylesheet" href="./assets/style.css" />
</head>

<body>

    <nav class="st--navbar row--spacedContents">

        <div class="st__navbar--title">
            <h2>Spot-Tag</h2>
        </div>

        <div class="st__navbar--options">
            <h4 style="margin-right: 20px;">User Options</h4>
            <h4>Log in/Register</h4>
        </div>
    </nav>

    <section class="bugs--content">

        <div class="bugs__content--header">
            <h2>All Bugs</h2>
        </div>

        <div class="bug__contents--buttonSection">
            <button>View Languages</button>
        </div>

        <div class="bug__contents--tableSection">

            <table class="bugsTable">
                <caption>Bugs and Solutions</caption>

                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Language</th>
                    <th>Reason</th>
                    <th>Testing Tool</th>
                    <th>Solution</th>
                    <th>Ref Link</th>
                    <th>Added By</th>
                </tr>

                <tr>
                    <td>Sample Bug Name 1</td>
                    <td>Sample Bug Category 1</td>
                    <td>Sample Bug Language 1</td>
                    <td>Sample Bug Reason 1</td>
                    <td>Sample Bug TestingTool 1</td>
                    <td>Sample Bug Solution 1</td>
                    <td>Sample Bug RefLink 1</td>
                    <td>Sample Bug AddedBy 1</td>
                </tr>

                <tr>
                    <td>Sample Bug Name 1</td>
                    <td>Sample Bug Category 2</td>
                    <td>Sample Bug Language 2</td>
                    <td>Sample Bug Reason 2</td>
                    <td>Sample Bug TestingTool 2</td>
                    <td>Sample Bug Solution 2</td>
                    <td>Sample Bug RefLink 2</td>
                    <td>Sample Bug AddedBy 2</td>
                </tr>
            </table>
        </div>
    </section>
</body>

</html>