<!DOCTYPE html>
<html>

<head>
    <title>Spot Tag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <link rel="stylesheet" href="./assets/style.css" />
</head>

<body>

    <nav class="st--navbar">

        <div class="st__navbar--title">
            <h2>Spot-Tag</h2>
        </div>

        <div class="st__navbar--options">
            <h4 style="margin-right: 20px;">User Options</h4>
            <h4>Log in/Register</h4>
        </div>
    </nav>

    <section class="home--contents">

        <div class="home__contents--header">
            <h2>Languages</h2>
        </div>

        <div class="home__contents--buttonSection">
            <button>View All Bugs</button>
        </div>

        <div class="home__contents--languages">

            <div class="card">

                <div class="card--image">
                    <img src="./assets/images/JS_main.png" alt="JS" />
                </div>

                <div class="card--body">
                    <h3>JavaScript</h3>
                    <h4>100</h4>
                </div>
            </div>

            <div class="card">

                <div class="card--image">
                    <img src="./assets/images/Python_main.png" alt="Py" />
                </div>

                <div class="card--body">
                    <h3>Python</h3>
                    <h4>100</h4>
                </div>
            </div>

            <div class="card">

                <div class="card--image">
                    <img src="./assets/images/TS_main.png" alt="TS" />
                </div>

                <div class="card--body">
                    <h3>TypeScript</h3>
                    <h4>100</h4>
                </div>
            </div>

            <div class="card">

                <div class="card--image">
                    <img src="./assets/images/Dart_main.png" alt="Dart" />
                </div>

                <div class="card--body">
                    <h3>Dart</h3>
                    <h4>100</h4>
                </div>
            </div>

            <div class="card">

                <div class="card--image">
                    <img src="./assets/images/HTML_main.png" alt="HTML" />
                </div>

                <div class="card--body">
                    <h3>HTML</h3>
                    <h4>100</h4>
                </div>
            </div>

            <div class="card">

                <div class="card--image">
                    <img src="./assets/images/CSS_main.png" alt="CSS" />
                </div>

                <div class="card--body">
                    <h3>CSS</h3>
                    <h4>100</h4>
                </div>
            </div>
        </div>
    </section>
</body>

</html>