<!DOCTYPE html>
<html>

<head>
    <title>Spot Tag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <link rel="stylesheet" href="./assets/style.css" />
</head>

<body>

    <nav class="st--navbar row--spacedContents">

        <div class="st__navbar--title">
            <h2>Spot-Tag</h2>
        </div>

        <div class="st__navbar--options">
            <h4 style="margin-right: 20px;">User Options</h4>
            <h4>Log in/Register</h4>
        </div>
    </nav>

    <section class="language--contents">

        <div class="language__contents--details row--spacedContents">
            <div class="language__details--logo">
                <img src="./assets/images/Language_Sample.png" alt="" />
            </div>

            <div class="language__details--languageInfo">

                <div class="language__info--nameSection">
                    <h2>Language Name</h2>
                    <h5>
                        Language Description
                    </h5>
                </div>

                <div class="language__info--additional">

                    <div class="language__additional--cols">
                        <div class="language_parameters">
                            <h3>
                                Developer:
                            </h3>

                            <h4>
                                Language Developer
                            </h4>
                        </div>

                        <div class="language_parameters">
                            <h3>
                                Stable Release:
                            </h3>

                            <h4>
                                Language Stable Release
                            </h4>
                        </div>
                    </div>

                    <div class="language__additional--cols">
                        <div class="language_parameters">
                            <h3>
                                First Appeared:
                            </h3>

                            <h4>
                                Language First Appeared
                            </h4>
                        </div>

                        <div class="language_parameters">
                            <h3>
                                Paradigm:
                            </h3>

                            <h4>
                                Language Paradigm
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="language__contents--bugLists">
            <table class="bugsTable">
                <caption>Bugs and Solutions</caption>

                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Language</th>
                    <th>Reason</th>
                    <th>Testing Tool</th>
                    <th>Solution</th>
                    <th>Ref Link</th>
                    <th>Added By</th>
                </tr>

                <tr>
                    <td>Sample Bug Name 1</td>
                    <td>Sample Bug Category 1</td>
                    <td>Sample Bug Language 1</td>
                    <td>Sample Bug Reason 1</td>
                    <td>Sample Bug TestingTool 1</td>
                    <td>Sample Bug Solution 1</td>
                    <td>Sample Bug RefLink 1</td>
                    <td>Sample Bug AddedBy 1</td>
                </tr>

                <tr>
                    <td>Sample Bug Name 2</td>
                    <td>Sample Bug Category 2</td>
                    <td>Sample Bug Language 2</td>
                    <td>Sample Bug Reason 2</td>
                    <td>Sample Bug TestingTool 2</td>
                    <td>Sample Bug Solution 2</td>
                    <td>Sample Bug RefLink 2</td>
                    <td>Sample Bug AddedBy 2</td>
                </tr>
            </table>
        </div>
    </section>
</body>

</html>