<!DOCTYPE html>
<html>

<head>
    <title>Spot Tag</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <link rel="stylesheet" href="./assets/style_login.css" />
</head>

<body>

    <section class="block row--centeredContents">

        <div class="block__elem row--spacedContents">

            <img src="./assets/images/Login_image.png" alt="Login" title="Login" />

            <section class="block__elem--mod">

                <div class="block__elem--head">
                    <h2>
                        Welcome to Spot -
                        <span>Tag..</span>
                    </h2>
                </div>

                <form>

                    <div class="form form__input--mod">
                        <input type="text" class="input--maxWidth" placeholder="Enter Email" name="email" required />
                    </div>

                    <div class="form form__input--mod">
                        <input type="password" class="input--maxWidth" placeholder="Enter Password" name="psw"
                            required />
                    </div>

                    <div class="form form__input--mod row--spacedContents">

                        <div class="form__checkbox--mod">
                            <input type="checkbox" />
                            <span>Remember Me</span>
                        </div>

                        <div class="form__forgetpassword--mod">
                            <a>Forgot Password</a>
                        </div>
                    </div>

                    <div class="form__button--mod">
                        <button>Login</button>
                    </div>
                </form>

                <div class="block__elem--newUser row--centeredContents">
                    <h5>New to Spot-Tag?</h5>
                    <button>Create an account</button>
                </div>
            </section>
        </div>
    </section>
</body>

</html>