<!DOCTYPE html>
<html>

<head>
    <title>Spot Tag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <link rel="stylesheet" href="./assets/style_login.css" />
</head>

<body>

    <section class="signupPage">
        <div class="centered--signupBox">

            <img src="./assets/images/Login_image.png" alt="Signup" title="Signup" />

            <section class="signup__content--wrap">

                <div class="signup__content--header">
                    <h2>
                        Hello World,<br />
                        Welcome to Spot -
                        <span>Tag!</span>
                    </h2>
                </div>

                <div class="signup__content--form">
                    <form>

                        <div class="signup__form--inputSection">

                            <div class="signup__form--row">
                                <div class="signupForm--inputWrap">
                                    <label for="name" class="formLabel">First Name*</label> <br />
                                    <input type="text" placeholder="Name" name="fname" required />
                                </div>

                                <div class="signupForm--inputWrap">
                                    <label for="email" class="formLabel">Email*</label> <br />
                                    <input type="text" placeholder="Email" name="email" required />
                                </div>
                            </div>

                            <div class="signup__form--row">
                                <div class="signupForm--inputWrap">
                                    <label for="mobile" class="formLabel">Mobile*</label> <br />
                                    <input type="number" placeholder="Mobile" name="mobile" required />
                                </div>

                                <div class="signupForm--inputWrap">
                                    <label for="country" class="formLabel">Country*</label> <br />
                                    <input type="text" placeholder="Country" name="country" required />
                                </div>
                            </div>

                            <div class="signup__form--row">
                                <div class="signupForm--inputWrap">
                                    <label for="psw" class="formLabel">New Password*</label> <br />
                                    <input type="password" placeholder="New Password" name="psw" required />
                                </div>

                                <div class="signupForm--inputWrap">
                                    <label for="npsw" class="formLabel">Confirm Password*</label> <br />
                                    <input type="password" placeholder="Confirm Password" name="npsw" required />
                                </div>
                            </div>
                        </div>

                        <div class="signup__form--cbInputWrap">
                            <input type="checkbox" />
                            <span>I agree to all the Terms and Conditions</span>
                        </div>

                        <div class="signup__form--buttonSection">
                            <button>Sign up</button>
                        </div>
                    </form>
                </div>

                <div class="signup__form--newUser">
                    <h5>Already have an account?</h5>
                    <button>Log in</button>
                </div>
            </section>
        </div>
    </section>
</body>

</html>