<!DOCTYPE html>
<html>

<head>
    <title>Spot Tag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <link rel="stylesheet" href="./assets/style_login.css" />
</head>

<body>

    <section class="block row--centeredContents">

        <div class="block__elem row--spacedContents">

            <img src="./assets/images/Login_image.png" alt="Signup" title="Signup" />

            <section class="block__elem--inputs">

                <div class="block__inputs--head">
                    <h2>
                        Hello World,<br />
                        Welcome to Spot -
                        <span>Tag!</span>
                    </h2>
                </div>

                <form>
                    <div class="form">

                        <div class="row--spacedContents">
                            <div class="form__input">
                                <label for="name" class="formLabel">First Name*</label> <br />
                                <input type="text" class="form block--margin-right" placeholder="Name" name="fname"
                                    required />
                            </div>

                            <div class="form__input">
                                <label for="email" class="formLabel">Email*</label> <br />
                                <input type="text" class="form block--margin-right" placeholder="Email" name="email"
                                    required />
                            </div>
                        </div>

                        <div class="row--spacedContents">
                            <div class="form__input">
                                <label for="mobile" class="formLabel">Mobile*</label> <br />
                                <input type="number" class="form block--margin-right" placeholder="Mobile" name="mobile"
                                    required />
                            </div>

                            <div class="form__input">
                                <label for="country" class="formLabel">Country*</label> <br />
                                <input type="text" class="form block--margin-right" placeholder="Country" name="country"
                                    required />
                            </div>
                        </div>

                        <div class="row--spacedContents">
                            <div class="form__input">
                                <label for="psw" class="formLabel">New Password*</label> <br />
                                <input type="password" class="form block--margin-right" placeholder="New Password"
                                    name="psw" required />
                            </div>

                            <div class="form__input">
                                <label for="npsw" class="formLabel">Confirm Password*</label> <br />
                                <input type="password" class="form block--margin-right" placeholder="Confirm Password"
                                    name="npsw" required />
                            </div>
                        </div>
                    </div>

                    <div class="form form__checkbox row--centeredContents">
                        <input type="checkbox" />
                        <span>I agree to all the Terms and Conditions</span>
                    </div>

                    <div class="form__button">
                        <button>Sign up</button>
                    </div>
                </form>

                <div class="block--navigation row--centeredContents">
                    <h5>Already have an account?</h5>
                    <button>Log in</button>
                </div>
            </section>
        </div>
    </section>
</body>

</html>