
html, body, #root, #root>div {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.clearfix{
	clear: both;
}

.body-login {
  margin:0px;
	padding: 0px;
	background-color: #0000ff;
	overflow: hidden;
	font-family: 'Times New Roman', Times, serif;
  height: 100%;
}

.box-login {
  width: 90%;
  height: 700px;
  background-color: white;
  margin: 0% auto;
  margin-top: 3.5%;
  border-radius: 25px;
}

.col-div-6-login {
  width: 50%;
  float: left;
}

.headText-login {
  padding-top: 60px;
  padding-left: 20%;
}

.logo-login {
  margin: 0px;
  margin-left: 28px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.logo-login span{
  color: #f7403b;
}

.formField-login {
  padding-top: 20px;
}

.formField-login input[type=email], .formField-login input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.formField-login input[type=email]:focus, .formField-login input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.btn-section-login {
  width: 100%;
}

.signupbtn-login {
  background-color: #0000ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.signupbtn-login {
  float: left;
  width: 50%;
}

.btn-section-login a {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}

.noaccount-login {
  padding: 20px;
  padding-left: 24%;
  font-weight: bold;
}

.noaccount-login a {
  text-decoration: none;
}

.headText-signup {
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10%;
  font-weight: bold;
}

.headText-signup span {
  color: #f7403b;
}

.col-div-3-signup {
  width: 50%;
  float: left;
}

.formField-signup{
  font-size: 10px;
  font-weight: lighter;
  color: gray;
}

.formField-signup input[type=text],
.formField-signup input[type=password],
.formField-signup [type=number],
.formField-signup input[type=email] {
  width: 80%;
  background: #f1f1f1;
  border: none;
  display: inline-block;
  padding: 15px;
  margin: 5px 0 22px 0;
}

.formField-signup input[type=text]:focus,
.formField-signup input[type=password]:focus,
.formField-signup [type=number]:focus,
.formField-signup input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

#tnc {
  margin-bottom:15px;
  font-size: 40px;
}

.signupbtn-signup {
  width: 60%;
  color: white;
  background-color: #0000ff;
  border: none;
  padding: 15px;
  margin: 0 0 0 20%;
}

.accounted-signup {   
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}
