
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, html, p {
  margin:0
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
  cursor: pointer
} 

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}

input, button {
  font-family: 'Montserrat', sans-serif;
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}

input:focus {
  outline: 0;
}

/* Login Screen UI starts */

.body-login {
  background-color: #0000ff;
  overflow: hidden;
}

section.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 48px 0;
}

.centered--loginBox {
  background-color: #ffffff;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.login__content--wrap {
  padding: 48px 24px;
}

.login__content--heading {
  margin-bottom: 30px;
}

.login__content--heading h2 {
  font-size: 30px;
  font-weight: 800;
}

.login__content--heading h2 span{
color: #f7403b;
}

.login__form--inputWrap input {
  width: 90%;

  background: #f1f1f1;
  color: rgba(24, 39, 58, 0.94);

  border: none;
  outline: none;

  padding: 8px 15px;
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.login__form--inputWrap input::placeholder {
  color: rgba(28, 48, 74, 0.5);

  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
}

.login__form--cbInputWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 30px;
}

.checkboxWrap {
  display: flex;
  align-items: center;
}

.checkboxWrap input {
  cursor: pointer;

  width: 18px;
  height: 18px;

  margin-right: 8px;
}

.checkboxWrap span {
  color: #403F3F;

  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.fpWrap a {
  color: #403F3F;

  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.login__form--buttonSection {
  text-align: center;
  margin-bottom: 30px;
}

.login__form--buttonSection button {
  width: 100%;
  border: 0;
  border-radius: 7px;

  background-color: #0000ff;
  color: #FFFFFF;

  padding: 10px 0;

  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 25px;
}

.login__form--newUser {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__form--newUser h5 {
  color: #140F26;;
  font-size: 17px;
  font-weight: 800;
}

.login__form--newUser button {
  background-color: transparent;
  color: #0000ff;

  border: none;
  cursor: pointer;

  font-size: 17px;
  font-weight: 800;
}
